@media(min-width: 1025px){
    .wrap__container {
        width: 80%;
    }
}

@media(min-width: 769px) and (max-width: 1024){
    .wrap__container {
        width: 80%;
    }

}

@media(min-width: 585px) and (max-width: 768px){
    .wrap__container {
        width: 90%;
    }
}

@media(min-width: 769px){
    .body__header header {
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border-bottom: 1px solid #3c3c3c; */
    }

    .header__nav ul{
        display: flex;
        flex-direction: row;
    }

    .nav__list::after{
        content: "|";
        margin: 0 20px;
        color: var(--color-white);
    }

    

    .nav__list:last-child:after{
        content: "";
        margin: 0;
    }

    .nav__link {
        transition: ease-in-out 400ms;
        -webkit-transition: ease-in-out 400ms;
        -moz-transition: ease-in-out 400ms;
        -ms-transition: ease-in-out 400ms;
        -o-transition: ease-in-out 400ms;
    }

    .nav__link:hover {
        color: #aeaeae;
    }
}


@media(max-width: 584px){
    .wrap__container {
        width: 96%;
    }
}