/* ========================================
+
+   Developer : Rohit (rohitwebco@gmail.com)
+   Github    : https://github.com/rohitsraj12/
+   Date      : 15 Sep 2021
+
===========================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* 

    font-family: 'Montserrat', sans-serif;

*/

:root {
    --color-white: #ffffff;
    --color-blackk: #000000;
    /* --color-theme: #fe6600; */
    --color-dark: #212529;
  
    --color-light-gray: #f5f5f5;
  
    --font-primary: 'Montserrat', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: var(--font-primary);
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    background: rgb(219, 219, 219);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(134, 134, 134);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #696969;
    box-shadow: inset 0 0 5px grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #969696;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  
  p,
  li {
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: 300;
  }

  .btn__primary {
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    color: #212529;

  }

  /* typography */
  .header__primary {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .header__secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .header__tagline {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
  }
  .header__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
  }

  .header__service {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(254, 92, 95);
  }

  .about__home {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
  }

  /* ==================================
  
        #default classes
  
  =====================================*/
.body__wrap {
    position: relative;
}

.wrap__container {
    margin: 0 auto;
}

  /* ==================================
  
        #body header
  
  =====================================*/
  .body__header {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 99;
  }

  .header__brand img {
    height: 80px;
  }

  /*    header navigation
  ===================================== */
  .nav__link {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }

  /* ==================================
  
        #body footer
  
  =====================================*/

  /* ==================================
  
        #body banner
  
  =====================================*/
  .body__banner {
    position: relative;
  }

  .body__banner::after {
    content: "";  
    background-color: #000000bb;
    /* background-color: #00505cbb; */
    /* background: linear-gradient(130deg,  rgba(22, 63, 75, 0.8) 0%,rgba(25, 104, 99, 0.8) 71%,rgba(7, 65, 97, 0.8) 100%); */
    width: 100%;
  }

  .banner__content article{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .banner__header-text {
    margin: 0 auto;
    font-family: var(--font-primary);
    color: var(--color-white);
    font-weight: 900;
  }

  /* ==================================
  
        #body container
  
  =====================================*/


  /* category 
  ======================================== */
  .section__about{
    background: linear-gradient(130deg,  rgba(213, 213, 213, 0.8) 0%,rgba(235, 235, 235, 0.8) 50%,rgba(210, 210, 210, 0.8) 100%);
  }

  
  /* category 
  ======================================== */
  .category__icon i{
    font-size: 4rem;
    color:rgba(12, 12, 12, 0.667);
    transition: ease-in-out 400ms;
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    -ms-transition: ease-in-out 400ms;
    -o-transition: ease-in-out 400ms;
  }

  .category__block {
    width: 100%;
    padding: 30px 0px;
    background-color: #ffffff;
    /* border: 1px solid #e8e8e8; */
    transition: ease-in-out 400ms;
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    -ms-transition: ease-in-out 400ms;
    -o-transition: ease-in-out 400ms;
  }

  .category__block:hover {
   transform: scale(1.03);
   -webkit-transform: scale(1.03);
   -moz-transform: scale(1.03);
   -ms-transform: scale(1.03);
   -o-transform: scale(1.03);
   box-shadow: 0 0 40px rgba(58, 58, 58, 0.1);
  }

  .category__block:hover i {
    color: rgb(255, 74, 107) !important;
    color: rgb(6, 6, 6);
  }

  .section__category .text-secondary {
    color: rgb(255, 74, 107) !important;
  }


  /* tagline
  ======================================== */
  .section__tagline {
    /* background-color: rgba(0, 0, 0, 0.788); */
    background: linear-gradient(130deg,  rgba(22, 63, 75, 0.8) 0%,rgba(25, 104, 99, 0.8) 50%,rgba(7, 65, 97, 0.8) 100%);

    padding: 70px 0;
    position: relative;
  }
  
  .section__tagline::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/bg/tagline_bg.jpg");
    background-repeat: no-repeat;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  /* service
  ======================================== */
  .service__block {
    transition: ease-in-out 400ms;
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    -ms-transition: ease-in-out 400ms;
    -o-transition: ease-in-out 400ms;
  }
  
  .service__block:hover {
    transform: scale(0.995);
    -webkit-transform: scale(0.995);
    -moz-transform: scale(0.995);
    -ms-transform: scale(0.995);
    -o-transform: scale(0.995);
    
    outline-offset: 6px;
    outline: -1px solid rgba(0, 0, 0, 0.8);
  }

  .service__block figure {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .service__block figure::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);    
    /* background: linear-gradient(130deg,  rgba(22, 63, 75, 0.8) 0%,rgba(25, 104, 99, 0.8) 71%,rgba(7, 65, 97, 0.8) 100%); */

    /* background: linear-gradient(130deg,  rgba(20,31,114,0.8) 0%,rgba(52,65,161,0.8) 71%,rgba(52,65,161,0.8) 100%); */
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in-out 400ms;
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    -ms-transition: ease-in-out 400ms;
    -o-transition: ease-in-out 400ms;
  }

  .service__block {
    position: relative;
  }

  .service__content {
    width: 100%;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    transition: ease-in-out 400ms;
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    -ms-transition: ease-in-out 400ms;
    -o-transition: ease-in-out 400ms;
  }

  .service__block:hover .service__content{
    bottom: 0px;
    padding-bottom: 30px;
    border-bottom: 5px solid rgb(255, 74, 107) ;
}

  .service__block:hover figure::after{
    background-color: rgba(0, 0, 0, 0.6);    
    /* background: linear-gradient(130deg,  rgba(22, 63, 75, 0.8) 0%,rgba(25, 104, 99, 0.8) 71%,rgba(7, 65, 97, 0.8) 100%); */
  }
  
  .service__content header {
    position: relative;
  }
  
  .service__content header::after {
    content: "";
    width: 80%;
    height: 1px;
    background-color: rgba(227, 227, 227, 0.507);
    position: absolute;
    bottom: 20px;
    left: 10%;
  }

  .service__catogery {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .service__catogery li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }

  .service__catogery li::after {
    content: "|";
    margin: 0 20px;
    color: rgb(183, 183, 183);
  }

  .service__catogery li:last-child::after{
    content: "";
    margin: 0;

  } 
